node_modules/
.env
dist/
.DS_Store
*.log
.firebase/
.credentials/
credentials.json
service-account.json
package.json

credentials/firebaseConfig.ts

src/config/firebaseConfig.ts
src/credentials
functions/src/credentials