node_modules/
.env
dist/
.DS_Store
*.log
.firebase/
.credentials/
credentials.json
service-account.json
credentials/client_secret.json
credentials/token.json
credentials/firebase-web.json
package.json
